<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linheimx.app.lchart">

    <application
        android:allowBackup="true"
        android:icon="@drawable/l"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LineChartActivity" />
        <activity android:name=".LineChartPlusActivity" />
        <activity android:name=".PreviewActivity" />
        <activity android:name=".MultiLineActivity" />
        <activity android:name=".WarnLinesActivity" />
        <activity android:name=".RealTimeActivity" />
        <activity android:name=".TimeActivity" />
        <activity android:name=".TouchProcessActivity"></activity>
    </application>

</manifest>